################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MathLib/bin
/MathLib/Generated Documentation
/MathLib/MathLib.Tests
/MathLib/obj
/MathLib/TestResults
/MathLib/_ReSharper.MathLib
/MathLib/_UpgradeReport_Files
*.psess
/MathLib/SandCastleGUISettings.SandcastleGUI
/MathLib/StyleCop.Cache
/MathLib/testimpactdata.sdf
/MathLib/TestSettings1.testsettings
/MathLib/UpgradeLog.XML
/SOMLibrary/bin
/SOMLibrary/obj
/SOMLibraryTests
/SOMSimulator/bin
/SOMSimulator/obj
/TestResults
/Util/bin
/Util/GeneralTests/bin/Debug
/Util/GeneralTests/obj/x86/Debug
/Util/obj
/Util/TestResults
/Util/_UpgradeReport_Files
/Util/UpgradeLog.XML
/_ReSharper.SOM
/_UpgradeReport_Files
/Local.testsettings
/SOM.sln.DotSettings.user
/UpgradeLog.XML
/UpgradeLog2.XML
/TraceAndTestImpact.testsettings
/.vs/SOM
